<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/seed/picsum/600/900');object-fit:cover">
  <div class="container">
    <h1 class='m-3'>Your ***** Amazing Movie Lists ! 🎞</h1>
 <div class="redirect-buttons d-flex justify-content-center">
  <%= link_to "Add new list", new_list_path, class: 'btn btn-outline-success p-2' %>
  </div>
  </div>
</div>
