<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key%>')">
  <div class="container">
    <h1 class='m-3'>Your ***** Amazing Movie Lists ! 🎞</h1>
 </h1>
  </div>
</div>


<%# if cl_image_path @list.photo.key
<div sty></div>
<% else %>
<div></div> %>
