<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/600/900);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
