<div class="banner-show " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>');background-size: cover">
  <div class="container">
    <h1><%= list.name %></h1>
  </div>
</div>
