// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  position: relative;
}

// .card-info {
//   position: relative;
// }

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-img {
  object-fit: cover;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  width: 100%;
  box-shadow:5px 5px 15px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.banner-show {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  width: 70%;
  box-shadow:5px 5px 15px 5px rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
